<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- head section strats -->
<head th:replace="/include/head :: head"></head>
<!-- head header section -->


<!-- book section -->
<section class="book_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h3 class="mb-1">ID 찾기</h3>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form_container">
					<form action="/findId/action" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<div>
							<input id="memberName" name="memberName" class="form-control" placeholder="이름" />
						</div>
						<div>
							<input id="memberEmail" name="memberEmail" class="form-control" placeholder="이메일" />
						</div>
						<div class="btn_box">
							<button style="padding: 10px 130px; margin-bottom: 30px">조회</button>
						</div>
						<div style="margin-top: 15px"></div>
					</form>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<div class="container">
		<div class="heading_container heading_center">
			<h3 class="mb-1">비밀번호 찾기</h3>
		</div>
		<div class="row">
			<div class="col-md-4"></div>

			<div class="col-md-4">
				<div class="form_container">
					<form action="/findPw/action" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<div>
							<input id="memberName" name="memberName" class="form-control" placeholder="이름" />
						</div>
						<div>
							<input id="memberId" name="memberId" class="form-control" placeholder="아이디" />
						</div>
						<div>
							<input id="memberEmail" name="memberEmail" class="form-control" placeholder="이메일" />
						</div>
						<div class="btn_box">
							<button style="padding: 10px 130px; margin-bottom: 30px">조회</button>
						</div>
						<div style="margin-top: 15px"></div>
					</form>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</section>
</html>