<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- head section strats -->
<head th:replace="/include/head :: head">

</head>
<!-- head header section -->

    <body class="sub_page">
        <div class="hero_area">
            <div class="bg-box">
                <img th:src="@{/bootstrap/images/pet_1.jpg}" alt="" />
            </div>

			<!-- header section strats -->
            <header th:replace="/include/header :: header"></header>
            <!-- end header section -->
        </div>

        <section class="book_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2 class="mb-1">상품관리</h2>
                </div>
            </div>
            
            <!--사이드 바 -->
            <div class="position-relative">
                <div class="position-absolute top-0 start-50 translate-middle-x"></div>
                <div class="row">
                   
                    <!-- manager sidebar section start -->
                    <div th:replace="/include/manager_sidebar :: manager_sidebar"></div>
                    <!-- end manager sidebar section -->
                    
                    <div class="col-md-6">
                        <div class="table-responsive container">
                            <div style="margin-bottom: 10px; text-align: right; float: right">
                                <!-- 드롭다운 버튼으로 상품 내역 끌어와서 할지, 아니면 사용자 입력으로 할것인지 결정-->
                                <div class="btn-group">
                                    <select class="form-control nice-select wide">
                                        <!-- disabled selected : 버튼 위에 처음에 보여지고 비활성화 됨 -->
                                        <option value="">사료</option>
                                        <option value="">간식</option>
                                        <option value="">용품</option>
                                        <option value="">의상</option>
                                    </select>
                                </div>

                                <button class="btn btn-warning" onclick="alert('조회할거야?')">조회</button>
                                <button class="btn btn-success" th:onclick="location.href='ProductRegistration'">등록</button>
                                <button class="btn btn-danger" th:onclick="deleteValue();">삭제</button>
                            </div>
                            <!-- <table class="table table-striped w-auto"> -->
                            <table class="table table-striped table-md" style="text-align: center">
                                <thead>
                                    <tr>
                                        <!-- 게시판 행 크기 조절-->
                                        <th scope="col" style="width: 3%"><input  id="allCheck" type="checkbox" name="allCheck"/></th>
                                        <th scope="col" style="width: 10%">NO</th>
<!--                                         <th scope="col" style="width: 10%">상품분류</th> -->
                                        <th scope="col" style="width: 40%">상품명</th>
                                        <th scope="col" style="width: 15%">원가</th>
                                        <th scope="col" style="width: 15%">판매가</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product : ${list}"  >
                                    	<td><input type="checkbox"  name="p_seq" id="p_seq" th:value="${product.p_seq}"/></td>
                                   		<td th:text="${product.p_seq}" th:onclick="|location.href='@{ProductModify/{p_seq} (p_seq = ${product.p_seq})}'|"></td>
                                   		
<!--                                         <td th:text="${product.p_name">상품분류</td> -->
                                        <td th:text="${product.p_name}" th:onclick="|location.href='@{ProductModify/{p_seq} (p_seq = ${product.p_seq})}'|"></td>
                                        <td th:text="${product.price1}" th:onclick="|location.href='@{ProductModify/{p_seq} (p_seq = ${product.p_seq})}'|"></td>
                                        <td th:text="${product.price2}" th:onclick="|location.href='@{ProductModify/{p_seq} (p_seq = ${product.p_seq})}'|"></td>
                                    </tr>
<!--                                     <tr th:each="product : ${list}"> -->
<!--                                    		<td class="form-check form-check-inline"> -->
                                   		
<!--                                         <td class="form-check form-check-inline"> -->
<!--                                             <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" /> -->
<!--                                             <label class="form-check-input" for="inlineCheckbox1">1</label> -->
<!--                                         </td> -->
<!--                                         <td >게시판1</td> -->
<!--                                         <td th:text="${product.p_name">조회수1</td> -->
<!--                                         <td th:text="${product.price1">월요일</td> -->
<!--                                         <td th:text="${product.price2">월요일</td> -->
<!--                                     </tr> -->
<!--                                     <tr> -->
<!--                                         <td><input name="RowCheck" type="checkbox" value="1"/>&nbsp;1</td> -->
<!--                                         <td>게시판2</td> -->
<!--                                         <td>2번</td> -->
<!--                                         <td>조회수2</td> -->
<!--                                         <td>화요일</td> -->
<!--                                     </tr> -->
                                    
                                </tbody>
                            </table>
                        </div>


                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{#}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" th:href="@{#}">1</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{#}">2</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{#}">3</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{#}">4</a></li>
                                <li class="page-item"><a class="page-link" th:href="@{#}">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{#}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>

            <!-- 체크박스 test -->
        <script type=text/javascript>  
          $(function() {
            var chkObj = document.getElementsByName("p_seq"); 
            var rowCnt = chkObj.length;
         
         $("input[name='allCheck']").click(function() {
            var chk_listArr = $("input[name='p_seq']"); 
            for (var i=0; i<chk_listArr.length; i++){
            chk_listArr[i].checked = this.checked;
            }
      });
      $("input[name='p_seq']").click(function() {
            if($("input[name="p_seq']:checked").length == rowCnt) {
               $("input[name='allCheck']")[0].checked = true; 
            }
            else{
               $("input[name='allCheck']")[0].checked = false;
            }
            
         });
      });
      function deleteValue() {
      var url = "/prodelete/delete"; // Controller로 보내고자 하는 URL
      var valueArr = new Array();
      var list = $("input[name='p_seq']"); 
      for(var i = 0; i < list.length; i++){ 
         if(list[i].checked){ // 선택되어 있으면 배열에 값을 저장함
            valueArr.push(list[i].value);
         }
      }
      if (valueArr.length == 0){
         alert("선택된 게시글이 없습니다.");
      else{
         var chk = confirm("정말 삭제하시겠습니까?");
         $.ajax({
         url : uri,  // 전송 URL
         type : 'POST', // POST 방식
         traditional : true, 
         data : {
            valueArr : valueArr // 보내고자 하는 data 변수 설정
         },
         success: function(jdata) {
            if(data = 1) {
               alert("삭제 성공"); 
               location.replace("list") //list로 페이지 새로 고침
               HEZ
            }
            else{
               alert("삭제 실패");
            }
         }
      });
   }
}
      </script>
        

      	<!-- footer section -->
		<footer th:replace="/include/footer :: footer"></footer>
        <!-- footer section -->

		<!-- script section -->
		<div th:replace="/include/script :: script"></div>
		<!-- end script section -->
		
		 
	

 </body>
</html>
