<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head section strats -->
<head th:replace="/include/head :: head"></head>
<!-- head header section -->

<body class="sub_page">
	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{/bootstrap/images/pet_1.jpg}" alt="" />
		</div>

		<!-- header section strats -->
		<header th:replace="/include/header :: header"></header>
		<!-- end header section -->
	</div>

<section class="book_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2 class="mb-1">상품 수정</h2>
		</div>
	</div>
	<!--사이드 바 -->
	<div class="position-relative">
		<div class="position-absolute top-0 start-50 translate-middle-x"></div>
		<div class="row">

			<!-- manager sidebar section start -->
			<div th:replace="/include/manager_sidebar :: manager_sidebar"></div>
			<!-- end manager sidebar section -->

			<!--  상품 수정  -->
			<div class="col-md-6" style="margin-top: 50px">
				<div class="table-responsive container">
					<!-- <table class="table table-striped w-auto"> -->
					<div class="info">
						<div class="input-form-backgroud row">
							<div class="input-form col-md-12 mx-auto">
								<form style="text-align: center" class="validation-form"
									novalidate name="frm" id="write_form" method="post"
									enctype="multipart/form-data" th:action="@{/product/update/{pSeq}(pSeq = ${product.pSeq})}">
									
<!-- 									<div class="row" -->
<!-- 										style="margin-left: 155px; margin-bottom: 12px"> -->
<!-- 										<div class="col-mb-3"> -->
<!-- 											<label for="name">상품분류</label> -->
<!-- 										</div> -->
<!-- 										<div class="col-md-2 mb-3"> -->
<!-- 											<select name="kind" id="kind"> -->
<!-- 												<c:forEach items="${kindList}" var="kind" -->
<!-- 													varStatus="status"> -->
<!-- 													<c:choose> -->
<!-- 														<c:when test="${productVO.kind==status.count}"> -->
<!-- 															<option value="${status.count}" selected="selected">${kind}</option> -->
<!-- 														</c:when> -->
<!-- 														<c:otherwise> -->
<!-- 															<option value="${status.count}">${kind}</option> -->
<!-- 														</c:otherwise> -->
<!-- 													</c:choose> -->
<!-- 												</c:forEach> -->
<!-- 											</select> -->
<!-- 										</div> -->
<!-- 									</div> -->

									<div class="row"
										style="margin-left: 170px; margin-bottom: 12px">
										<div class="col-mb-3">
											<label>상품명</label>
										</div>
										<div class="col-md-8 mb-3">
											<input type="text" class="form-control" name="pName"
												id="pName" placeholder="" th:value="${product.pName}" required />
										</div>
									</div>
									<div class="row"
										style="margin-left: 184px; margin-bottom: 12px">
										<div class="col-mb-3">
											<label>원가: </label>
										</div>
										<div class="col-md-2 mb-3">
											<input type="text" class="form-control" name="price1"
												id="price1" placeholder="" th:value="${product.price1}"
												required onKeyUp="NumFormat(this)" />
										</div>
										<div class="col-mb-3" style="margin-left: 0px">
											<label>판매가: </label>
										</div>
										<div class="col-md-2 mb-3">
											<input type="text" class="form-control" name="price2"
												id="price2" placeholder="" th:value="${product.price2}"
												required onBlur="go_ab()" onKeyUp="NumFormat(this)" />
										</div>
										<div class="col-mb-3">
											<label>순수익: </label>
										</div>
										<div class="col-md-2 mb-3">
											<input type="text" class="form-control" name="price3"
												id="price3" readonly placeholder="" th:value="${product.price2} - ${product.price1}"  required
												onKeyUp="NumFormat(this)" />
										</div>
									</div>
									<div class="row"
										style="margin-left: 155px; margin-bottom: 12px">
										<div class="col-mb-3">
											<label>상세설명</label>
										</div>
										<div class="col-md-6 mb-3">
											<textarea rows="5" cols="50" name="pContent" id="pContent"
												aria-placeholder="" aria-valuetext="" th:text="${product.pContent}"required>
                                                       
                                                   </textarea>
										</div>
									</div>

									<div class="row" style="margin-left: 155px; margin-bottom: 12px">
										<div class="col-mb-3">
											<label>첨부파일</label>
										</div>
										<div class="col-md-8 mb-3">
<!-- 										<img th:src="@{/images/tempLogo.jpg}"></br> -->
<!--  width="200px" -->
											<img th:src="@{${product.pPath}}"/>
											<input type="file" class="form-control" name="file" id="file" placeholder="" required /> 
<!-- 											<input type="hidden" class="form-control" name="pImage" value="${product.pImage}" /> -->
										</div>
									</div>
									<div style="margin-bottom: 0px; text-align: center">
										<button style="margin-right: 20px" type="submit" class="btn btn-success" onClick="go_save()">수정</button>
										<button style="margin-left: 20px" type="button" class="btn btn-danger" onClick="go_mov()">취소</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  상품 수정  -->

			<div class="col-md-3"></div>
		</div>
	</div>
</section>




	<!-- footer section -->
	<footer th:replace="/include/footer :: footer"></footer>
	<!-- end footer section -->
	
	<!-- script section -->
	<div th:replace="/include/script :: script"></div>
	<!-- end script section -->
</body>
</html>
