<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/include/head :: head"></head>


        <!-- book section -->
        <section class="book_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h3 class="mb-1">ID 찾기</h3>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form_container">
                            <form action="">
                                <div><input th:type="${member_id}" class="form-control" placeholder="아이디" /></div>
                                <div><input th:type="${member_pw}" class="form-control" placeholder="비밀번호" /></div>
                                <div class="btn_box">
                                    <button style="padding: 10px 110px; margin-bottom:30px">조회</button>

                                </div>
                                
                                <div style="margin-top: 15px">
                                <!-- target="_blank" 새창 띄울때  UserJoin_Page.html-->
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            <div class="container">
                <div class="heading_container heading_center">
                    <h3 class="mb-1">비밀번호 찾기</h3>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form_container">
                            <form action="">
                                <div><input th:type="${member_name}" class="form-control" placeholder="이름" /></div>
                                <div><input th:type="${member_id}" class="form-control" placeholder="아이디" /></div>
                                <div><input th:type="${member_pw}" class="form-control" placeholder="비밀번호" /></div>
                                <div class="btn_box">
                                    <button style="padding: 10px 110px; ">조회</button>
                                </div>
                                
                                <div style="margin-top: 15px">
                                    
<!-- target="_blank" 새창 띄울때  UserJoin_Page.html-->
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </section>
        <!-- end book section -->

        <!-- <section class="about_section layout_padding">                
            <div class="detail-box">

                <a href=""> Read More </a>
            </div> -->

        
        
</html>


                                <!-- <div style="margin-top: 15px">
                                    <a href="" onclick="window.open(this.href, '_blank', 'width=600, height=400');"  style="margin-left: 10px; color: #ffbe33">아이디/비밀번호 찾기</a>
                                    <a href="UserJoin_Page.html"   style="margin-left: 110px; color: #ffbe33">회원가입</a>
                                    </a> -->
<!-- target="_blank" 새창 띄울때  UserJoin_Page.html-->
