<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/include/head :: head"></head>

<body class="sub_page">
	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{/bootstrap/images/pet_1.jpg}" alt="" />
		</div>
		<!-- header section strats -->
		<header th:replace="/include/header :: header"></header>
		<!-- end header section -->
	</div>
	<!-- food section -->
	<section class="food_section layout_padding">
		<div class="container">
			<div class="heading_container heading_center">
				<h2 class="mb-1">사주시개</h2>
			</div>
			<!--  
			<ul class="filters_menu">
				<li class="active" data-filter="*">All</li>
				<li data-filter=".burger">사료</li>
				<li data-filter=".pizza">간식</li>
				<li data-filter=".pasta">용품</li>
				<li data-filter=".fries">의상</li>
			</ul> 
	-->


			<ul class="filters_menu">
			<!-- 
				<li class="active" data-filter="*">All</li>
				<li data-filter=".burger"><a th:href="@{/category(pKind='사료')}">사료</a></li>
				<li data-filter=".pizza"><a th:href="@{/category(pKind='간식')}">간식</a></li>
				<li data-filter=".pasta"><a th:href="@{/category(pKind='용품')}">용품</a></li>
				<li data-filter=".fries"><a th:href="@{/category(pKind='의상')}">의상</a></li>
			 -->
			
			<li class="active" data-filter="*">All</li>
			<li data-filter="#사료">사료</li>
			<li data-filter="#간식">간식</li>
			<li data-filter="#용품">용품</li>
			<li data-filter="#의상">의상</li>
			
			</ul>
			<!--  
			<tr th:each="product, state : ${productList}">
				<td th:text="${product.pSeq}"></td>
				<td th:text="${product.pKind}"></td>
				<td th:text="${product.pName}"></td>
				<td th:text="${product.price2}"></td>
				<td th:text="${product.pImage}"></td>
				<div class="options">
				<a th:href="@{/MyPage_cart(seq=${product.pSeq})}">
				</div>
			</tr>
			-->
				<div class="filters-content">
					<div class="row grid">
						<div th:each="product : ${productList}">
							<div class="col-sm-6 col-lg-4 all ." th:each="prodcut : ${productList}" th:id="${product.pKind}">
								<div class="box">
									<div class="img-box">
										<!-- <img th:src="${/productimage/food.jpg} + ${product.Pimage}" alt="" />-->
										<img th:src="@{/productimage/}+${product.pImage}" alt="" />
										<!--<img th:src="${static/productimage/food.jpg}" alt="" /> -->
									</div>
									<div class="detail-box">
										<h5 th:text="${product.pName}"></h5>
										<p th:text="${product.pContent}"></p>
										<form id="theForm" th:action="@{/insertCart}">
											<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											<input type="hidden" th:name="pSeq" th:value="${product.pSeq}" />
											<input type="hidden" th:name="price2" th:value="${product.price2}"/>
											<div class="options">
												<h6 th:text="${product.price2}"></h6>
												<input type="number" name="cartStrock" id="cartStrock" min="1" size="1">
												<i class="fa fa-shopping-cart" th:onclick="go_insertCart(this,[[${product.pSeq}]])" id ="insert" aria-hidden="true"></i>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			
			<div class="btn-box">
				<a th:href="@{#}"> View More </a>
			</div>
		</div>
	</section>

	<!-- end food section -->

	<!-- footer section -->
	<footer th:replace="/include/footer :: footer"></footer>
	<!-- footer section -->

	<div th:replace="/include/script :: script"></div>
</body>
</html>
