<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/include/head :: head"></head>

<body class="sub_page">
	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{/bootstrap/images/pet_1.jpg}" alt="" />
		</div>
		<!-- header section strats -->
		<header th:replace="/include/header :: header"></header>
		<!-- end header section -->
	</div>

	<!-- food section -->

	<section class="food_section layout_padding">
		<div class="container">
			<div class="heading_container heading_center">
				<h4 class="mb-1">상세페이지</h4>
			</div>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6"></div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</section>

				<!-- Main content -->
				<section class="content">
					<!-- Default box -->
					<div>
						<div class="shop-body">
							<div class="row">
								<div class="col-12 col-sm-6">
									<div class="col-12">
										<div class="petShop-box" style="margin-top: 80px">
											<!-- 왼쪽 상품 이미지 -->
											<!-- <img th:src="@{'/static/' + ${product.imageUrl}}" class="product-image" alt="Product Image"> -->
											<img th:src="@{bootstrap/images/petSitter2.jpg}" alt="" />
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-6">
									<hr style="margin-top: 80px" />
									<div class="btn-group btn-group-toggle">
										<table>
											<tbody>
												<tr name="상품명">
													<th scope="row" style="width: 12rem">상품명</th>
													<td style="width: 30rem">LED 강아지 하네스 가슴줄(L) (블루) 버클
														애견가슴줄</td>
												</tr>
												<tr name="판매가">
													<th scope="row">판매가</th>
													<td>
													<strong>5,760원</strong>
													<input id="product_price" name="product_price" value="" type="hidden" />
													</td>
												</tr>
												<tr name="국내·해외배송">
													<th scope="row">국내·해외배송</th>
													<td>국내배송</td>
												</tr>
												<tr name="배송방법">
													<th scope="row">배송방법</th>
													<td>택배</td>
												</tr>
												<tr name="배송비">
													<th scope="row">배송비</th>
													<td>
													<input id="delivery_cost_prepaid" name="delivery_cost_prepaid" value="P" type="hidden" />
													<strong>3,000원</strong>
													(50,000원 이상 구매 시 무료)</td>
												</tr>
												<th:hr>
											</tbody>
										</table>
									</div>
									<hr />

									<div class="btn-group btn-group-toggle">
										<table>
											<tbody>
												<tr name="구매수량">
													<th scope="row" style="width: 12rem">구매 수량</th>
													<td style="width: 30rem">
													<input type="number" id="quantity" name="quantity" min="1" value="1" style="text-align: center; height: 2rem" />
													</td>
												</tr>
												<tr name="총 상품금액">
													<th scope="row">총 상품금액</th>
													<td><strong>5,760원</strong></td>
												</tr>
												<th:hr>
											</tbody>
										</table>
									</div>
									<hr/>
									<div class="mt-4">
										<div class="btn btn-primary btn-lg btn-flat">
											<a th:href="@{#}" th:onclick="alert('Add to Cart')" style="color: #fff">
											<i class="fas fa-cart-plus fa-lg mr-2"></i> Add to Cart
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-4">
								<nav class="w-100">
									<div class="nav nav-tabs" id="product-tab" role="tablist">
										<a class="nav-item nav-link active" id="product-desc-tab"
											data-toggle="tab" th:href="@{product-desc}" role="tab"
											aria-controls="product-desc" aria-selected="true">설명</a> <a
											class="nav-item nav-link" id="product-comments-tab"
											data-toggle="tab" th:href="@{product-comments}" role="tab"
											aria-controls="product-comments" aria-selected="false">리뷰</a>
										<a class="nav-item nav-link" id="product-rating-tab"
											data-toggle="tab" th:href="@{product-rating}" role="tab"
											aria-controls="product-rating" aria-selected="false">평가</a>
									</div>
								</nav>
								<div class="tab-content p-3" id="nav-tabContent">
									<div class="tab-pane fade show active" id="product-desc"
										role="tabpanel" aria-labelledby="product-desc-tab">상세 설명</div>
									<div class="tab-pane fade" id="product-comments"
										role="tabpanel" aria-labelledby="product-comments-tab">리뷰</div>
									<div class="tab-pane fade" id="product-rating" role="tabpanel"
										aria-labelledby="product-rating-tab">평가</div>
								</div>
							</div>
						</div>
						<!-- /.shop-body -->
					</div>
					<!-- /.card -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<div class="btn-box">
				<a th:href="@{#}"> View More </a>
			</div>
		</div>
	</section>

	<!-- end food section -->

	<!-- footer section -->
	<footer th:replace="/include/footer :: footer"></footer>
	<!-- footer section -->

	<div th:replace="/include/script :: script"></div>
</body>
</html>
