<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="" />

        <title>날케어하시개</title>

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

        <!--owl slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <!-- nice select  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <!-- font awesome style -->
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/891c0679f6.js" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="css/responsive.css" rel="stylesheet" />
        <script src="js/include.js" defer></script>
    </head>

    <body class="sub_page">
        <div class="hero_area">
            <div class="bg-box">
                <img src="images/pet_1.jpg" alt="" />
            </div>
            <!-- header section strats -->
            <header data-include="include/header.html"></header>
            <!-- end header section -->
        </div>

        <!-- food section -->

        <section class="food_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h4 class="mb-1">상세페이지</h4>
                </div>

                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6"></div>
                            </div>
                        </div>
                        <!-- /.container-fluid -->
                    </section>

                    <!-- Main content -->
                    <section class="content">
                        <!-- Default box -->
                        <div>
                            <div class="shop-body">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <h3 class="d-inline-block d-sm-none" th:text="${product.name}"></h3>
                                        <div class="col-12">
                                            <div class="petShop-box" style="margin-top: 80px">
                                                <!-- 왼쪽 상품 이미지 -->
                                                <!-- <img th:src="@{'/static/' + ${product.imageUrl}}" class="product-image" alt="Product Image"> -->
                                                <img src="images/petSitter2.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <!-- <h3 class="my-3" th:text="${product.name}"></h3>
                                        <p th:text="${product.description}"></p> -->
                                        <hr style="margin-top: 80px" />
                                        <div class="btn-group btn-group-toggle">
                                            <table>
                                                <tbody>
                                                    <tr name="상품명">
                                                        <th scope="row" style="width: 12rem">상품명</th>
                                                        <td style="width: 30rem">LED 강아지 하네스 가슴줄(L) (블루) 버클 애견가슴줄</td>
                                                    </tr>
                                                    <tr name="판매가">
                                                        <th scope="row">판매가</th>
                                                        <td><strong>5,760원</strong> <input id="product_price" name="product_price" value="" type="hidden" /></td>
                                                    </tr>
                                                    <tr name="국내·해외배송">
                                                        <th scope="row">국내·해외배송</th>
                                                        <td>국내배송</td>
                                                    </tr>
                                                    <tr name="배송방법">
                                                        <th scope="row">배송방법</th>
                                                        <td>택배</td>
                                                    </tr>
                                                    <tr name="배송비">
                                                        <th scope="row">배송비</th>
                                                        <td><input id="delivery_cost_prepaid" name="delivery_cost_prepaid" value="P" type="hidden" /><strong>3,000원</strong> (50,000원 이상 구매 시 무료)</td>
                                                    </tr>
                                                    <hr />
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr />

                                        <div class="btn-group btn-group-toggle">
                                            <table>
                                                <tbody>
                                                    <tr name="구매수량">
                                                        <th scope="row" style="width: 12rem">구매 수량</th>
                                                        <td style="width: 30rem">
                                                            <input type="number" id="quantity" name="quantity" min="1" value="1" style="text-align: center; height: 2rem" />
                                                        </td>
                                                    </tr>
                                                    <tr name="총 상품금액">
                                                        <th scope="row">총 상품금액</th>
                                                        <td><strong>5,760원</strong></td>
                                                    </tr>
                                                    <hr />
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- <h4 class="mt-3">사이즈</h4> -->
                                        <hr />
                                        <div class="mt-4">
                                            <div class="btn btn-primary btn-lg btn-flat">
                                                <a href="#" onclick="alert('Add to Cart')" style="color: #fff">
                                                    <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                                    Add to Cart
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <nav class="w-100">
                                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">설명</a>
                                            <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">리뷰</a>
                                            <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">평가</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content p-3" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">상세 설명</div>
                                        <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">리뷰</div>
                                        <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab">평가</div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.shop-body -->
                        </div>
                        <!-- /.card -->
                    </section>
                    <!-- /.content -->
                </div>
                <!-- /.content-wrapper -->

                <div class="btn-box">
                    <a href=""> View More </a>
                </div>
            </div>
        </section>

        <!-- end food section -->

        <!-- footer section -->
        <footer data-include="include/footer.html"></footer>
        <!-- footer section -->

        <!-- jQery -->
        <script src="js/jquery-3.4.1.min.js"></script>
        <!-- popper js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
        <!-- End Google Map -->
    </body>
</html>
