<!DOCTYPE html>
<!-- 채완 -->

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/include/head :: head"></head>

<body class="sub_page">

	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{/bootstrap/images/pet_1.jpg}" alt="" />
		</div>
		<!-- header section strats -->
		<header th:replace="/include/header :: header"></header>
		<!-- end header section -->
	</div>

	<div>
		<!-- 상단 이미지 부분 시작 -->
		<div>
			<div class="mainGallery" style="z-index: 0; display: flex; flex-direction: row; width: 100%; height: 580px; margin-top: 0px; position: relative;">
				<div style="width: 62.5%; height: 580px; overflow: hidden">
					<img width="900" height="580" class="inactiveImage"
						th:src="@{/bootstrap/images/petProfile_1.jpg}"
						style="object-fit: cover; width: 100%; user-select: none; cursor: pointer">
				</div>
				<div style="display: flex; flex-grow: 1; width: auto; height: auto; flex-direction: column">
					<div style="width: auto; height: auto; overflow: hidden;">
						<img class="normalImage"
							th:src="@{/bootstrap/images/petProfile_2.jpg}"
							style="object-fit: cover; user-select: none; cursor: pointer; width: 100%; max-height: 100%;">
					</div>
					<div style="width: auto; height: auto; overflow: hidden;">
						<img class="normalImage"
							th:src="@{/bootstrap/images/petProfile_3.jpg}"
							style="object-fit: cover; user-select: none; cursor: pointer; width: 100%; max-height: auto;">
					</div>
				</div>
			</div>
		</div>
		<!-- 상단 이미지 끝-->

		<!-- ************************ 프로필 시작 !!************************ -->
		<div style="margin-top: 0px; margin-left: auto; margin-right: auto; width: 1027px; display: flex; flex-direction: row; justify-content: space-between">
			<div style="width: 570px; position: relative; padding-bottom: 150px">
				<div style="position: absolute; top: -60px; left: 0">
					<img th:src="@{/img_file/}+${sitter.memberProImage}"
						style="width: 120px; height: 120px; border-radius: 60px"
						alt="프로필 이미지">
				</div>
				<div style="padding-bottom: 50px; border-bottom: 1px solid #EBEBEB">
					<h2 th:text="${sitter.memberTitle}"
						style="font-size: 27px; font-weight: 500; color: #333333; letter-spacing: -0.2px; margin-top: 105px; line-height: 38px"></h2>
					<div style="margin-top: 23px; display: flex; flex-direction: row; align-items: center">
						<span th:text="${sitter.memberName} + ' 펫시터'"
							style="font-size: 17px; color: #333333; margin-right: 14px">
						</span>
						<!--  ------------ 평점, 리뷰 ------------
						<div style="display: flex; align-items: center">
							<div
								style="display: flex; margin-right: 3px; align-items: center">
								<img th:src="@{bootstrap/images/star_1.png}"
									style="width: 12px; height: 12px; margin-right: 4px"> <span
									style="font-size: 17px; font-weight: 600; color: #555555; margin-right: 9px">
									5.0 </span> <span
									style="font-size: 15px; font-weight: 500; color: #A0A0A0; text-decoration: underline; margin-top: 5px">
									235개의 리뷰 </span>
							</div>
						</div>
						-->
					</div>
				</div>

				<!--  ------------ 경력, 전문분야, 방문지역 ------------
				<div
					style="margin-top: 39px; padding-bottom: 48px; border-bottom: 1px solid #EBEBEB">
					<div style="display: flex; flex-direction: row">
						<img th:src="@{bootstrap/images/img_career_1.png}"
							style="width: 32px; height: 32px">
						<div style="margin-top: 4px; margin-left: 18px">
							<p
								style="font-weight: 500; font-size: 17px; color: #333333; letter-spacing: -0.2px">
								대표 경력</p>
							<p
								style="font-size: 15px; color: #777777; line-height: 20px; margin-top: 10px">
								방문훈련 전문, 동물병원근무, 행동교정 전문</p>
						</div>
					</div>
					<div style="display: flex; flex-direction: row; margin-top: 27px">
						<img th:src="@{bootstrap/images/img_career_2.png}"
							style="width: 32px; height: 32px">
						<div style="margin-top: 4px; margin-left: 18px">
							<p
								style="font-weight: 500; font-size: 17px; color: #333333; letter-spacing: -0.2px">
								전문 분야</p>
							<p
								style="font-size: 15px; color: #777777; line-height: 20px; margin-top: 10px">
								공격성 교육 전문, 소/중형견 전문</p>
						</div>
					</div>
					<div style="display: flex; flex-direction: row; margin-top: 27px">
						<img th:src="@{bootstrap/images/img_career_3.png}"
							style="width: 32px; height: 32px">
						<div style="margin-top: 4px; margin-left: 18px">
							<p
								style="font-weight: 500; font-size: 17px; color: #333333; letter-spacing: -0.2px">
								방문 지역</p>
							<p
								style="font-size: 15px; color: #777777; line-height: 20px; margin-top: 10px">
								서울특별시, 인천광역시 연수구, 남동구, 미추홀구, 동구, 부평구, 계양구, 서구, 경기 파주시, 고양시,
								의정부시, 남양주시, 하남시, 광주시, 성남시, 용인시, 과천시, 김포시, 광명시, 시흥시, 의왕시, 수원시,
								오산시, 화성시, 부천시, 안산시, 양주시, 구리시, 안양시, 군포시, 남양주시 (그 외 지역은 출장비 발생)</p>
						</div>
					</div>
				</div>
				-->

				<!-- 자격증부분 시작 -->
				<div>
					<div style="margin-top: 50px">
						<p style="font-size: 20px; font-weight: 600; color: #333333; letter-spacing: -0.2px">
							경력·자격
						</p>
					</div>
					<div style="padding-bottom: 45px; border-bottom: 1px solid #EBEBEB">
						<div style="margin-top: 28px; display: flex; flex-direction: row; align-items: center">
							<div style="border: 1px solid #EBEBEB; border-radius: 5px">
								<img th:src="@{/img_file/}+${sitter.memberImage}"
									style="width: 120px; height: 76px; border-radius: 5px; object-fit: cover"
									alt="자격증">
							</div>
							<div style="margin-left: 28px">
								<p th:text="${sitter.memberProPath}"
									style="font-size: 17px; font-weight: 500; color: #333333; letter-spacing: -0.2px; line-height: 20px">
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 자격증부분 끝 -->

				<!-- 자기소개 시작 -->
				<div style="border-bottom: 1px solid #EBEBEB">
					<div style="margin-top: 50px">
						<p style="font-size: 20px; font-weight: 600; color: #333333; letter-spacing: -0.2px">
							자기소개
						</p>
						<div style="margin-top: 28px">
							<p th:text="${sitter.memberIy}"
								style="font-size: 17px; color: #555555; line-height: 28px"></p>
						</div>
					</div>
				</div>
			</div>
			<!-- 자기소개 끝!! -->
			<!-- ************************ 프로필 끝!!! ************************ -->


			<!-- ************************ 우측 예약 시작 ************************ -->
			<div>
				<div style="width: 375px; border-radius: 8px; border: 1px solid #EBEBEB; box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.07); padding: 38px 32px 32px 32px; margin-top: 105px">
					<p style="font-size: 17px; font-weight: 500; letter-spacing: -0.2px; line-height: 25px; color: #393C47">
						궁금한 내용이 있다면
					</p>
					<br>
					<p th:text="${sitter.memberName} + ' 펫시터님께 교육 문의를 보내보세요!'"
						style="font-size: 17px; font-weight: 500; letter-spacing: -0.2px; line-height: 25px; color: #393C47">
					</p>
				</div>

				<div style="width: 375px; border-radius: 8px; border: 1px solid #EBEBEB; box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.07); padding: 43px 32px 38px 32px; margin-top: 38px">
					<div style="display: flex; border-bottom: 1px solid #EBEBEB; padding-bottom: 25px">
						<p style="font-size: 17px; font-weight: 600; letter-spacing: -0.2px; line-height: 25px; color: #393C47">
							이용 요금
						</p>
					</div>
					<div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 24px">
						<div style="display: flex; flex-direction: row; align-items: center">
							<div style="width: 42px; height: 22px; background-color: #f1ededc0; border-radius: 3px; display: flex; justify-content: center; align-items: center">
								<span style="font-size: 13px; font-weight: 600; color: #868585">
									60분
								</span>
							</div>
							<a style="font-size: 15px; font-weight: 500; line-height: 19px; color: #393C47; margin-left: 12px">
								방문 돌봄
							</a>
						</div>
						<div style="display: flex; flex-direction: row; align-items: center">
							<a style="font-size: 15px; color: #333333; line-height: 18px; margin-left: 9px">
								₩100,000
							</a>
						</div>
					</div>
					<div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 18px">
						<div style="display: flex; flex-direction: row; align-items: center">
							<div style="width: 42px; height: 22px; background-color: #f0ecec; border-radius: 3px; display: flex; justify-content: center; align-items: center">
								<span style="font-size: 13px; font-weight: 600; color: #8d8d8d">
									60분
								</span>
							</div>
							<a style="font-size: 15px; font-weight: 500; line-height: 19px; color: #393C47; margin-left: 12px">
								방문 산책
							</a>
						</div>
						<div style="display: flex; flex-direction: row; align-items: center">
							<a style="font-size: 15px; color: #333333; line-height: 18px; margin-left: 9px">
								₩80,000
							</a>
						</div>
					</div>
					<div style="display: flex; width: 312px; height: 59px; background-color: #F1C1C9; border-radius: 5px; justify-content: center; align-items: center; margin-top: 32px; cursor: pointer">
					<!-- 	<a th:href="@{/reservation/SitterBooking}"
							th:onclick="window.open(this.href, '_blank', 'width=440, height=750'); return false;"
							style="font-size: 18px; font-weight: 600; color: white; letter-spacing: 0.2px">
							예약하기
						</a>  -->
						<a th:onclick="sitterResevPopup()"
							style="font-size: 18px; font-weight: 600; color: white; letter-spacing: 0.2px">
							예약하기
						</a>
					</div>
				</div>
			</div>
			<!-- ************************ 우측 예약 끝!! ************************ -->
		</div>
	</div>

	<!-- footer section -->
	<footer th:replace="/include/footer :: footer"></footer>
	<!-- footer section -->

	<div th:replace="/include/script :: script"></div>

</body>

</html> 
