<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="" />

        <title>날케어하시개</title>

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

        <!--owl slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <!-- nice select  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <!-- font awesome style -->
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/891c0679f6.js" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="css/responsive.css" rel="stylesheet" />
        <script src="js/include.js" defer></script>
    </head>

    <body class="sub_page">
        <div class="hero_area">
            <div class="bg-box">
                <img src="images/pet_1.jpg" alt="" />
            </div>
            <!-- header section strats -->
            <header data-include="include/header.html"></header>
            <!-- end header section -->
        </div>

        <section class="food_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2 class="mb-1">방문 돌봄</h2>
                    <div id="visit_container" style="padding-top: 50px;">
                        <section class="introduction_section">
                            <!-- 스타일 하드코딩으로 작성 시 푸터 가림현상 발생 2022.08.01-->
                            <!-- <div style="width: 1000px; height: 400px; margin-top: 90px"> -->
                            <img src="images/samplepet.jpg" style="width: 1000px; height: 600px; border-radius: 25px;" />
                            <div class="content" style="height: 350px; width: 1000px; margin-top: 80px;">
                                <div class="bigtext" style="padding-left: 50px; margin-top: 80px; width: 370px;">
                                    <h1 style="font-size: 35px; font-weight: 600; color: #4d5055; margin-right: 161px; text-align: left; width: 350px;">
                                        "언제 어디서든"
                                        <br />
                                        "펫시터를 부르세요"
                                    </h1>
                                </div>
                                <div class="smalltext" style="width: 600px; margin-top: -100px; margin-left: 390px;">
                                    <p style="font-size: 17px; color: #4d5055; line-height: 30px; letter-spacing: 0.2px; margin-top: 5px; text-align: left; width: 610px;">
                                        혼자 남겨진 반려동물을 생각하며, 외출을 망설인 적이 있으신가요?
                                        <br />
                                        이제는 날캐어하시개 펫시터에게 맡기고, 여러분의 소중한 일상을 마음 편히 보내세요
                                        <br />
                                        <br />
                                        "바로 돌봄, 예약 돌봄, 정기 돌봄까지 언제 어디서든 원하시는 방법으로"
                                        <br />
                                        " '날케어하시개' 방문 펫시터 서비스를 예약할 수 있어요"
                                        <br />
                                        <br />
                                        <b>이용요금</b>
                                        : "돌봄 60분 (￦10,000) / 돌봄 24시간 (￦200,000)"
                                        <br />
                                        "반려동물 추가 또는 연휴 할증, 방문 시간 연장에 따라 추가요금이 발생할 수 있습니다"
                                    </p>
                                    <br />
                                </div>
                            </div>
                            <img src="images/samplepet3.jpg" style="width: 1000px; height: 600px; border-radius: 25px" />
                            <div class="content" style="height: 1000px; width: 1000px;">
                                <div class="bigtext" style="margin-left: 50px; margin-top: 80px; width: 370px; text-align: left; margin-bottom: 50px;">
                                    <h1 style="font-size: 35px; font-weight: 600; color: #4d5055; margin-right: 161px; text-align: left; width: 350px;">
                                        "최고의 펫시터가
                                        <br />
                                        방문합니다."
                                    </h1>
                                </div>
                                <div class="smalltext" style="width: 600px; margin-top: -130px; text-align: left; padding-bottom: 100px; margin-left: 390px;">
                                    <p style="font-size: 17px; color: #4d5055; line-height: 30px; letter-spacing: 0.2px; margin-top: 20px; width: 610px; margin-right: 490px;">
                                        "'날돌보시개' 의 모든 펫시터는 신분증 사본, 등초본, 신원보증 부대까지 <br />
                                        3단계로 까다롭게 신원을 검증하며, 펫시터로서 필요한 지식과 실력을 갖출 수 있도록<br> 
                                        펫시터 전문 교육을 수료합니다."
                                    </p>
                                    <br />
                                </div>
                                <img src="images/samplepet2.jpg" style="width: 1000px; height: 600px; border-radius: 25px" />
                            </div>
                            <!-- </div> -->
                        </section>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer section -->
        <footer data-include="include/footer.html"></footer>
        <!-- footer section -->

        <!-- jQery -->
        <script src="js/jquery-3.4.1.min.js"></script>
        <!-- popper js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
        <!-- End Google Map -->
    </body>
</html>
