<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- head section strats -->
<head th:replace="/include/head :: head"></head>
<!-- head header section -->



<body class="sub_page" style="overflow-y: hidden">
	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{bootstrap/images/pet_1.jpg}" alt="" />
		</div>
		
		<!-- header section strats -->
		<header th:replace="/include/header :: header"></header>
		<!-- end header section -->
	</div>
	

	<!-- book section -->
	<section class="book_section layout_padding">
		<div class="container">
			<div class="heading_container heading_center">
				<h2 class="mb-1">로그인</h2>
			</div>
			
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form_container">
						<form th:action="@{member/Login}" method="POST">
							<div>
								<input type="text" class="form-control" name="memberId" placeholder="아이디" />
							</div>
							<div>
								<input type="password" class="form-control" name="memberPw" placeholder="비밀번호" />
							</div>
							<div class="btn_box">
								<button style="padding: 10px 155px; margin-top: 0px">LOGIN</button>
							</div>

							<div style="margin-top: 15px">
								<a th:href="@{/IdpwFind}" th:onclick="window.open(this.href, '_blank', 'width=300, height=700'); return false;">아이디/비밀번호 찾기</a> 
								<a th:href="@{/UserJoin}" style="margin-left: 110px; color: black">회원가입</a>
								
								<!-- color: #ffbe33 -->
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</section>
	<!-- end book section -->

		<!-- footer section -->
		<footer th:replace="/include/footer :: footer"></footer>

        <!-- footer section -->

		<!-- script section -->
		<div th:replace="/include/script :: script"></div>
		<!-- end script section -->
</body>
</html>
