<!DOCTYPE html>
<!--선영-->
<html>
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="images/favicon.png" type="" />

        <title>날케어하시개</title>

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

        <!--owl slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <!-- nice select  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <!-- font awesome style -->
        <link href="css/font-awesome.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/891c0679f6.js" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        <link href="css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="css/responsive.css" rel="stylesheet" />
        <script src="js/include.js" defer></script>
    </head>

    <body class="sub_page">
        <div class="hero_area">
            <div class="bg-box">
                <img src="images/pet_1.jpg" alt="" />
            </div>
            <!-- header section strats -->
            <header data-include="include/header.html"></header>
            <!-- end header section -->
        </div>

        <section class="book_section layout_padding">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2 style="font-family: 'Open Sans'">배송신청</h2>
                </div>
            </div>
            <!--사이드 바 -->
            <div class="position-relative">
                <div class="position-absolute top-0 start-50 translate-middle-x"></div>
                <div class="row">
                    <div class="col-md-3" style="padding-left: 100px; padding-top: 39px">
                        <div style="margin-bottom: 10px; text-align: right"></div>
                        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px">
                            <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                                <svg class="bi me-2" width="40" height="32">
                                    <use xlink:href="#bootstrap" />
                                </svg>
                                <span class="fs-4">마이페이지</span>
                            </a>
                            <hr />
                            <!-- 오렌지색 네모칸 -->
                            <!-- <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div> -->
                            <ul class="nav nav-pills flex-column mb-auto,">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active" aria-current="page">
                                        <svg class="bi me-2" width="16" height="16">
                                            <use xlink:href="#home" />
                                        </svg>
                                        개인정보 수정
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link link-dark">
                                        <svg class="bi me-2" width="16" height="16">
                                            <use xlink:href="#speedometer2" />
                                        </svg>
                                        작성 글 조회
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link link-dark">
                                        <svg class="bi me-2" width="16" height="16">
                                            <use xlink:href="#table" />
                                        </svg>
                                        장바구니 목록
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link link-dark">
                                        <svg class="bi me-2" width="16" height="16">
                                            <use xlink:href="#grid" />
                                        </svg>
                                        구매이력
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link link-dark">
                                        <svg class="bi me-2" width="16" height="16">
                                            <use xlink:href="#people-circle" />
                                        </svg>
                                        예약현황
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link link-dark">
                                        <svg class="bi me-2" width="16" height="16">
                                            <use xlink:href="#people-circle" />
                                        </svg>
                                        회원탈퇴
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive container">
                            <!-- <table class="table table-striped w-auto"> -->
                            <!-- 상단에 버튼 없을시에  하단 table 에  style="margin-top: 3rem   넣고 좌측의 사이드바와 게시판 일렬로 맞추기 -->
                            <table class="table table-striped table-md" style="margin-top: 3rem">
                                <thead>
                                    <tr>
                                        <!-- 게시판 행 크기 조절-->
                                        <!--https://won-percent.tistory.com/48 체크박스 전체 선택은 해당 링크의 사이트에서 알수있음-->
                                        <th scope="col" style="width: 10%">NO</th>
                                        <th scope="col" style="width: 50%; text-align: center">제품이미지</th>
                                        <th scope="col" style="width: 15%">상품명</th>
                                        <th scope="col">수량</th>
                                        <th scope="col">가격</th>
                                        <th scope="col">합계금액</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input name="RowCheck" type="checkbox" value="1" />&nbsp;1</td>
                                        <!-- 게시판 제목 중앙정렬 -->
                                        <td style="text-align: center">product.image</td>
                                        <td>product.name</td>
                                        <td>￦</td>
                                        <td>price</td>
                                        <td>totalprice</td>
                                    </tr>
                                    <tr>
                                        <td><input name="RowCheck" type="checkbox" value="1" />&nbsp;2</td>
                                        <td style="text-align: center">product.image</td>
                                        <td>product.name</td>
                                        <td>￦</td>
                                        <td>price</td>
                                        <td>totalprice</td>
                                    </tr>
                                    <tr>
                                        <td><input name="RowCheck" type="checkbox" value="1" />&nbsp;3</td>
                                        <td style="text-align: center">product.image</td>
                                        <td>product.name</td>
                                        <td>￦</td>
                                        <td>price</td>
                                        <td>totalprice</td>
                                    </tr>
                                    <tr>
                                        <td><input name="RowCheck" type="checkbox" value="1" />&nbsp;4</td>
                                        <td style="text-align: center">product.image</td>
                                        <td>product.name</td>
                                        <td>￦</td>
                                        <td>price</td>
                                        <td>totalprice</td>
                                    </tr>
                                    <tr>
                                        <td><input name="RowCheck" type="checkbox" value="1" />&nbsp;5</td>
                                        <td style="text-align: center">product.image</td>
                                        <td>product.name</td>
                                        <td>￦</td>
                                        <td>price</td>
                                        <td>totalprice</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <hr />
                            <div class="info">
                                <div class="input-form-backgroud row">
                                    <div class="input-form col-md-12 mx-auto">
                                        <form class="validation-form" novalidate>
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="name">합계금액</label>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <input type="text" class="form-control" id="totalpricecheck" placeholder="" value="" required readonly />
                                                </div>
                                            </div>
                                            <br />
                                            <h4>주문자 정보</h4>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="nickname">성명</label>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <input type="text" class="form-control" id="name" placeholder="" value="" required />
                                                    <div class="invalid-feedback">성명을 입력해주세요.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="nickname">전화번호</label>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <input type="text" class="form-control" id="phone" placeholder="" value="" required />
                                                    <div class="invalid-feedback">전화번호를 입력해주세요.</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3 mb-3">
                                                    <label for="nickname">배송지 주소</label>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <input type="text" class="form-control" id="address" placeholder="" value="" required />
                                                    <div class="invalid-feedback">배송지 주소를 입력해주세요.</div>
                                                </div>
                                            </div>
                                            <div style="margin-bottom: 10px; text-align: center">
                                                <button type="button" class="btn btn-success">결제</button>
                                                <button type="button" class="btn btn-danger">취소</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--박스-->
        <!-- <div class="row">
            <div class="col-md-1 mb-2"></div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
                <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
            </div>
        </div> -->

        <!-- <div style="margin-top: 15px">
            <a href="IdpwFind_Page.html" onclick="window.open(this.href, '_blank', 'width=300, height=300'); return false;" style="margin-left: 10px; color: #ffbe33">아이디/비밀번호 찾기</a>
            <a href="UserJoin_Page.html" style="margin-left: 110px; color: #ffbe33">회원가입</a>
        </div> -->
        <!-- footer section -->
        <footer class="footer_section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-col">
                        <div class="footer_contact">
                            <h4>Contact Us</h4>
                            <div class="contact_link_box">
                                <a href="">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span> Location </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span> Call +01 1234567890 </span>
                                </a>
                                <a href="">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span> demo@gmail.com </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <div class="footer_detail">
                            <a href="" class="footer-logo"> Feane </a>
                            <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with</p>
                            <div class="footer_social">
                                <a href="">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 footer-col">
                        <h4>Opening Hours</h4>
                        <p>Everyday</p>
                        <p>10.00 Am -10.00 Pm</p>
                    </div>
                </div>
                <div class="footer-info">
                    <p>
                        &copy; <span id="displayYear"></span> All Rights Reserved By <a href="https://html.design/">Free Html Templates</a><br /><br />
                        &copy; <span id="displayYear"></span> Distributed By
                        <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                    </p>
                </div>
            </div>
        </footer>
        <!-- footer section -->

        <!-- jQery -->
        <script src="js/jquery-3.4.1.min.js"></script>
        <!-- popper js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
        <!-- End Google Map -->
    </body>
</html>
