<!DOCTYPE html>
<!--선영-->
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/include/head :: head"></head>

<body class="sub_page">
	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{bootstrap/images/pet_1.jpg}" alt="" />
		</div>
		<!-- header section strats -->
		<header th:replace="/include/header :: header"></header>
		<!-- end header section -->
	</div>

	<section class="book_section layout_padding">
		<div class="container">
			<div class="heading_container heading_center">
				<h2 class="mb-1">개인정보 수정</h2>
			</div>
		</div>
		<!--사이드 바 -->
		<div class="position-relative">
			<div class="position-absolute top-0 start-50 translate-middle-x"></div>
			<div class="row">
				<div class="col-md-3" style="padding-left: 100px; padding-top: 39px">
					<div th:replace="/include/member_sidebar :: member_sidebar">
						<div style="margin-bottom: 10px; text-align: right"></div>
						<div class="d-flex flex-column flex-shrink-0 p-3 bg-light"
							style="width: 280px">
							<a href=""
								class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
								<svg class="bi me-2" width="40" height="32">
									<use xlink:href="#bootstrap" /></svg> <span class="fs-4">마이페이지</span>
							</a>
							<hr />
							<!-- 오렌지색 네모칸 -->
							<!-- <div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div> -->
							<ul class="nav nav-pills flex-column mb-auto,">
								<li class="nav-item"><a href="#" class="nav-link active"
									aria-current="page"> <svg class="bi me-2" width="16"
											height="16">
											<use xlink:href="${MyPage.html}" /></svg> 개인정보 수정
								</a></li>
								<li><a href="#" class="nav-link link-dark"> <svg
											class="bi me-2" width="16" height="16">
											<use xlink:href="${MyPage_getboardlist}" /></svg> 작성 글 조회
								</a></li>
								<li><a href="#" class="nav-link link-dark"> <svg
											class="bi me-2" width="16" height="16">
											<use xlink:href="${MyPage_order}" /></svg> 장바구니 목록
								</a></li>
								<li><a href="#" class="nav-link link-dark"> <svg
											class="bi me-2" width="16" height="16">
											<use xlink:href="${MyPage_OrderDetails}" /></svg> 구매이력
								</a></li>
								<li><a href="#" class="nav-link link-dark"> <svg
											class="bi me-2" width="16" height="16">
											<use xlink:href="${MyPage_Reservation}" /></svg> 예약현황
								</a></li>
								<li><a href="#" class="nav-link link-dark"> <svg
											class="bi me-2" width="16" height="16">
											<use xlink:href="{MyPage_Withdrawal}" /></svg> 회원탈퇴
								</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-6" style="margin-top: 3rem">
					<div class="table-responsive container">
						<!-- <table class="table table-striped w-auto"> -->
						<div class="info">
							<div class="input-form-backgroud row">
								<div class="input-form col-md-12 mx-auto">
									<form class="validation-form" novalidate>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="name">아이디</label>
											</div>
											<div class="col-md-6 mb-3">
												<input th:type="${member_name}" class="form-control" id="name"
													placeholder="" value="" required />
												<div class="invalid-feedback">이름을 입력해주세요.</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="nickname">현재 비밀번호</label>
											</div>
											<div class="col-md-6 mb-3">
												<input th:type="${member_pw}" class="form-control" id="password"
													placeholder="" value="" required />
												<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="nickname">새 비밀번호</label>
											</div>
											<div class="col-md-6 mb-3">
												<input th:type="${member_pw}" class="form-control" id="password"
													placeholder="" value="" required />
												<div class="invalid-feedback">새 비밀번호를 입력해주세요.</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="nickname">새 비밀번호확인</label>
											</div>
											<div class="col-md-6 mb-3">
												<input th:type="${member_pw}" class="form-control" id="password"
													placeholder="" value="" required />
												<div class="invalid-feedback">새 비밀번호확인을 입력해주세요.</div>
											</div>
										</div>
										

										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="email">이메일</label>
											</div>
											<div class="col-md-6 mb-3">
												<input th:type="${email}" class="form-control" id="email"
													placeholder="you@example.com" required />
												<div class="invalid-feedback">이메일을 입력해주세요.</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="phone">전화번호</label>
											</div>
											<div class="col-md-6 mb-3">
												<input th:type="${phone}" class="form-control" id="phone"
													placeholder="" required />
												<div class="invalid-feedback">전화번호를 입력해주세요</div>
											</div>
										</div>
										<br />
										<h5>
											<span>펫시터/훈련사 추가 수정사항</span>
										</h5>
										<br />
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="name">프로필 제목</label>
											</div>
											<div class="col-md-6 mb-3">
												<input th:type="${member_title}" class="form-control" id="profilname"
													placeholder="" value="" required />
												<div class="invalid-feedback">프로필 제목을입력해주세요</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="name">자기소개</label>
											</div>
											<div class="col-md-6 mb-3">
												<textarea th:type="${member_iy}" rows="5" cols="46" name="introduce"
													aria-placeholder="" aria-valuetext="" required></textarea>
												<div class="invalid-feedback">자기소개를 입력해주세요</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3 mb-3">
												<label for="name">자격증 첨부</label>
											</div>
											<div class="col-md-6 mb-3">
												<th:form name="license" action="MyPage_page_update.html"
													method="post" enctype="multipart/form-data">
													<input type="file" class="form-control" id="licensefile"
														placeholder="" value="" required />
												</th:form>
											</div>
										</div>

										<div class="mb-4"></div>
										<button class="btn btn-primary btn-lg btn-block" type="submit">수정
											완료</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</section>

	<!-- footer section -->
	<footer th:replace="/include/footer :: footer"></footer>
	<!-- footer section -->

	<!-- script section -->
	<div th:replace="/include/script :: script"></div>
	<!-- end script section -->
</body>
</html>
