<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head section strats -->
<head th:replace="/include/head :: head"></head>
<!-- head header section -->


<style>
.input-form {
	max-width: 680px;
	margin-top: 80px;
	margin-bottom: 50px;
	padding: 32px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}
</style>

</head>

<body class="sub_page">
	<div class="hero_area">
		<div class="bg-box">
			<img th:src="@{/bootstrap/images/pet_1.jpg}" alt="" />
		</div>
		<!-- header section strats -->
		<header th:replace="/include/header :: header"></header>
		<!-- end header section -->
	</div>

	<!-- join section -->
	 <div class="container">
            <div class="input-form-backgroud row">
              <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">회원가입</h4>
                <form class="validation-form" action="/joinmembership" method="post" novalidate >
                    
<!--                     <div class="row"> -->
<!--                         <div class="col-md-2 mb-3"> -->
<!--                             <label for="name">신청구분</label>  -->
<!--                           </div> -->
<!--                       <label class="radio-inline, col-md-2"> -->
<!--                         <input th:type="radio" id="memberType1" name="memberType" value="01" th:checked="${data.memberType eq '01'}"> 일반 -->
<!--                       </label> -->
<!--                       <label class="radio-inline col-md-2"> -->
<!--                         <input th:type="radio" id="memberType2" name="memberType" value="02" th:checked="${data.memberType eq '02'}"> 펫시터 -->
<!--                       </label>&nbsp;&nbsp;&nbsp;&nbsp; -->
<!--                       <label class="radio-inline"> -->
<!--                         <input th:type="radio" id="memberType3" name="memberType" value="03" th:checked="${data.memberType eq '03'}"> 훈련사 -->
<!--                       </label> -->
<!--                     </div> -->
		

                
                    <div class="row">
                      <div class="col-md-2 mb-3">
                        <label for="name">ID</label> 
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" id="memberId" name="memberId" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          아이디를 입력해주세요.
                        </div>
                      </div>
                      </div>

                <div class="row">
                    <div class="col-md-2 mb-3">
                      <label for="nickname">PW</label>
                    </div>
                    <div class="col-md-6 mb-3"> 
                        <input type="text" class="form-control" id="memberPw" name="memberPw" placeholder="" value="" required>
                        <div class="invalid-feedback">
                          비밀번호를 입력해주세요.
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2 mb-3">
                      <label for="name">이름</label> 
                    </div>
                    <div class="col-md-6 mb-3">
                      <input type="text" class="form-control" id="memberName" name="memberName" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        이름을 입력해주세요.
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-2 mb-3">
                        <label for="email">이메일</label>
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="email" class="form-control" id="memberEmail" name="memberEmail" placeholder="you@example.com" required>
                        <div class="invalid-feedback">
                          이메일을 입력해주세요.
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <label for="email">전화번호</label>
                          </div>
                          <div class="col-md-6 mb-3">
                            <input type="phone" class="form-control" id="memberPhone" name="memberPhone" required>
                            <div class="invalid-feedback">
                              전화번호를 입력해주세요.
                            </div>
                          </div>
                        </div>

                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <label for="address">주소</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control " id="memberAddress" name="memberAddress" placeholder="서울특별시 강남구" required>
                            <div class="invalid-feedback">
                            주소를 입력해주세요.
                            </div>
                        </div>
                    </div>
                    <br>
                  
                    <h5>펫시터/훈련사 추가 기입사항<span class="text-muted">&nbsp;(필수 아님)</span></h5><br>
        <div class="row">
            <div class="col-md-2 mb-3">
              <label for="name">프로필<br>제목</label> 
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" id="memberTitle" name="memberTitle" placeholder="" value="">
              <div class="invalid-feedback">
                프로필 제목을입력해주세요
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mb-3">
              <label for="name">자기소개</label> 
            </div>
            <div class="col-md-6 mb-3">
                <textarea rows="5" cols="40" id="memberIy" name="memberIy" aria-placeholder="" aria-valuetext=""></textarea>
              <div class="invalid-feedback">
                자기소개를 입력해주세요
              </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-2 mb-3">
          <label for="name">자격증<br>첨부</label> 
        </div>
        <div class="col-md-6 mb-3">
          <input class="form-control" type="file" id="memberImage" name="memberImage" multiple>
        </div>
      </div>    
                  <hr class="mb-4">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                  </div>
                  <div class="mb-4"></div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
                </form>
              </div>
            </div>

          </div>
<!--           <script> -->
             window.addEventListener('load', () => {
               const forms = document.getElementsByClassName('validation-form');
        
               Array.prototype.filter.call(forms, (form) => {
                 form.addEventListener('submit', function (event) {
                   if (form.checkValidity() === false) {
                     event.preventDefault();
                     event.stopPropagation();
                   }
                   form.classList.add('was-validated');
                 }, false);
               });
             }, false);
<!--           </script> -->
             

	<!-- </section> 오류가 난다 빨간줄로-->
	<!-- end book section -->

	<!-- footer section -->
	<footer th:replace="/include/footer :: footer"></footer>
	<!-- footer section -->

	<!-- script section -->
	<div th:replace="/include/script :: script"></div>
	<!-- end script section -->
</body>
</html>
