<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" th:href="@{/bootstrap/images/favicon.png}" type="" />

        <title>날케어하시개</title>

        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}" />

        <link rel="stylesheet" th:href="@{path/to/font-awesome/css/font-awesome.min.css}" />

        <!--owl slider stylesheet -->
        <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}" />
        <!-- nice select  -->
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <!-- font awesome style -->
        <link th:href="@{../bootstrap/css/font-awesome.min.css}" rel="stylesheet" />
        <script th:src="@{https://kit.fontawesome.com/891c0679f6.js}" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        <link th:href="@{css/style.css}" rel="stylesheet" />
        <!-- responsive style -->
        <link th:href="@{css/responsive.css}" rel="stylesheet" />
        <script th:src="@{js/include.js}" defer></script>
    </head>

    <body>
        <div class="hero_area">
            <div class="bg-box">
                <!-- main 이미지 -->
                <img th:src="@{/static/bootstrap/images/pet_1.jpg}" alt="" />
            </div>

            <!-- header section strats -->
            <header th:data-include="@{include/header.html}"></header>
            <!-- end header section -->

            <!-- slider section -->
            <section class="slider_section">
                <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-lg-6">
                                        <div class="detail-box">
                                            <h2 class="md-1">
                                                나를 돌봐줄 반려인이 없을 때<br />
                                                '날 케어하시개<i class="fa-solid fa-paw"></i>'
                                            </h2>
                                            <p>첫번쨰</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-lg-6">
                                        <div class="detail-box">
                                            <h1>Fast Food Restaurant</h1>
                                            <p>두번째 장</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-lg-6">
                                        <div class="detail-box">
                                            <h1>Fast Food Restaurant</h1>
                                            <p>세번째</p>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <ol class="carousel-indicators">
                            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#customCarousel1" data-slide-to="1"></li>
                            <li data-target="#customCarousel1" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </section>
            <!-- end slider section -->
        </div>

        <!-- offer section -->

        <section class="offer_section layout_padding-bottom">
            <div class="offer_container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box">
                                <div class="img-box">
                                    <img th:src="@{../bootstrap/images/mainSitter.PNG}" alt="" />
                                </div>
                                <div class="detail-box">
                                    <h4 class="mb-1">펫시터 프로필</h4>
                                    <!-- <h6><span>20%</span> Off</h6> -->
                                    <a th:href="@{Sitter_Page.html}">
                                        바로가기
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box">
                                <div class="img-box">
                                    <img th:src="@{/bootstrap/images/mainTrainer.PNG}" alt="" />
                                </div>
                                <div class="detail-box">
                                    <h4 class="mb-1">훈련사 프로필</h4>
                                    <!-- <h6><span>20%</span> Off</h6> -->
                                    <a th:href="@{Trainer_Page.html}">
                                        바로가기
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="box">
                                <div class="img-box">
                                    <img src="images/o2.jpg" alt="" />
                                </div>
                                <div class="detail-box">
                                    <h5>Pizza Days</h5>
                                    <h6><span>15%</span> Off</h6>
                                    <a href="">
                                        Order Now
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end offer section -->

        <!-- food section -->
        <!-- <section class="food_section layout_padding-bottom">
            <div class="container">
                <div class="heading_container heading_center">
                    <h2>Our Menu</h2>
                </div>

                <ul class="filters_menu">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".burger">Burger</li>
                    <li data-filter=".pizza">Pizza</li>
                    <li data-filter=".pasta">Pasta</li>
                    <li data-filter=".fries">Fries</li>
                </ul>

                <div class="btn-box">
                    <a href=""> View More </a>
                </div>
            </div>
        </section> -->

        <!-- end food section -->

        <!-- book section -->
        <!-- <section class="book_section layout_padding">
            <div class="container">
                <div class="heading_container">
                    <h2>Book A Table</h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form_container">
                            <form action="">
                                <div>
                                    <input type="text" class="form-control" placeholder="Your Name" />
                                </div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Phone Number" />
                                </div>
                                <div>
                                    <input type="email" class="form-control" placeholder="Your Email" />
                                </div>
                                <div>
                                    <select class="form-control nice-select wide">
                                        <option value="" disabled selected>How many persons?</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="btn_box">
                                    <button>Book Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="map_container">
                            <div id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- end book section -->

        <!-- client section -->

        <section class="client_section layout_padding-bottom">
            <div class="container">
                <div class="heading_container heading_center psudo_white_primary mb_45">
                    <h2>What Says Our Customers</h2>
                </div>
                <div class="carousel-wrap row">
                    <div class="owl-carousel client_owl-carousel">
                        <div class="item">
                            <div class="box">
                                <div class="detail-box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h6>Moana Michell</h6>
                                    <p>magna aliqua</p>
                                </div>
                                <div class="img-box">
                                    <img src="images/client1.jpg" alt="" class="box-img" />
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box">
                                <div class="detail-box">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h6>Mike Hamell</h6>
                                    <p>magna aliqua</p>
                                </div>
                                <div class="img-box">
                                    <img src="images/client2.jpg" alt="" class="box-img" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end client section -->

        <!-- footer section -->
<!--         <footer th:data-include="@{include/footer.html}"></footer> -->
         <footer th:replace="@{../include/footer.html}"></footer>
        <!-- footer section -->

        <!-- jQery -->
        <script src="js/jquery-3.4.1.min.js"></script>
        <!-- popper js -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.js"></script>
        <!-- owl slider -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
        <!-- nice select -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
        <!-- End Google Map -->
    </body>
</html>
