<!-- header section strats -->
<html lane="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="header_section" th:fragment="header">
<!-- <head th:fragment="fragment-header"> -->
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" th:href="@{/}">
                <span style="color: #c9b4eb"> 날케어하시개 </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse dropmenu" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{#}">돌봐주시개<span class="sr-only">(current)</span></a>
                        <!-- 메뉴 드롭다운 -->
                        <ul class="dropdown-menu bg-light m-0">
                            <li><a th:href="@{member/AllSitters(memberType='B')}" class="dropdown-item">펫시터 프로필</a></li>
                            <li><a th:href="@{/Sitter1}" class="dropdown-item">방문 돌봄</a></li>
                            <li><a th:href="@{/Sitter2}" class="dropdown-item">방문 산책</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{#}">알려주시개</a>
                        <ul class="dropdown-menu bg-light m-0">
                            <li><a th:href="@{member/AllTrainers(memberType='C')}" class="dropdown-item">훈련사 프로필</a></li>
                            <li><a th:href="@{/Trainer1}" class="dropdown-item">훈련 과정</a></li>
                        </ul>
                        
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Menu}">사주시개</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/Center}">공지사항/고객센터</a>
                    </li>
                </ul>
                
                
                
                
                <div class="user_option">
                    <a class="user_link" th:href="@{/Login}" sec:authorize="isAnonymous()">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <!-- 장바구니 -->
                    <a class="cart_link" th:href="@{/member/MyPage_order}" sec:authorize="hasRole('ROLE_MEMBER')" >
                        <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
                    </a>
                    <a class="cart_link" th:href="@{/member/MyPage}" sec:authorize="hasRole('ROLE_MEMBER')" >
                        <i class="fa-solid fa-m" aria-hidden="true"></i>
                    </a>
                    <!-- 매니저 -->
                    <a class="cart_link" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')" >
                        <i class="fa-solid fa-clipboard-user" aria-hidden="true" ></i>
                    </a>
                    <a class="cart_link" th:href="@{/logout}" sec:authorize="isAuthenticated()" >
                        <i class="fa-solid fa-right-from-bracket" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>

</header>
<!-- </head> -->
</html>
<!-- end header section -->
